<%- include("partials/header.ejs") %>

<section class="hero trending-hero">
    <div class="container">
        <h1>Edit your Cloth</h1>
    </div>
</section>

<div class="tab-container align-items-center">
    <% if (cloth.files && Array.isArray(cloth.files)) { %>
      <div class="row">
        <% cloth.files.forEach(file => { %>
          <div class="col-md-3">
            <img src="<%= file %>" alt="<%= cloth.clothname %>" width="100%" height="200" class="product-img mt-1">
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <div class="row">
        <p>no file available...</p>
      </div>
    <% } %>

    <div id="tab1" class="tab-content active">
        <h3>Edit Clothes</h3>
          
          <form action="/seller/selleredit" method="POST" class="signup" enctype="multipart/form-data">
            <%- include("partials/alert.ejs") %>
          
            <div class="row p-2">
              <!-- Cloth Name -->
              <div class="form-group col-md-6 p-2">
                <input type="text" id="cname" name="clothname" class="form-control" placeholder="Cloth Name" value="<%= cloth.clothname %>">
              </div>
          
              <!-- Hidden ID Field -->
              <div class="form-group">
                <input type="hidden" name="id" value="<%= cloth._id %>">
              </div>
          
              <!-- Seller Name -->
              <input type="hidden" name="seller" value="<%= seller.Fname + ' ' + seller.Lname %>">
          
              <!-- Category Selection -->
              <div class="form-group col-md-6 p-2">
                <select id="Category" name="clothcategory" class="form-control">
                  <% ["Hoodie", "Pajamas", "Joggers", "Suit", "Polo", "T-shirt", "Short", "Trouser", "Underwear"].forEach(category => { %>
                    <option value="<%= category %>" <%= cloth.clothcategory === category ? 'selected' : '' %>><%= category %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          
            <div class="row p-2">
              <!-- Quantity -->
              <div class="form-group col-md-6 p-2">
                <input type="text" id="quantity" name="clothquantity" class="form-control" placeholder="Availability" value="<%= cloth.clothquantity %>">
              </div>
          
              <!-- Description -->
              <div class="form-group col-md-6 p-2">
                <textarea id="desc" name="desc" class="form-control"><%= cloth.desc %></textarea>
              </div>
          
              <!-- Price -->
              <div class="form-group col-md-6 p-2">
                <input type="text" id="price" name="clothprice" class="form-control" placeholder="Price" value="<%= cloth.clothprice %>">
              </div>
          
              <!-- Brand -->
              <div class="form-group col-md-6 p-2">
                <input type="text" id="Brand" name="brand" class="form-control" placeholder="Brand" value="<%= cloth.brand %>">
              </div>
          
              <!-- Image Upload -->
              <div class="form-group col-md-6 p-2">
                <input type="file" id="img" name="images" class="form-control" multiple>
              </div>
            </div>
          
            <div class="p-1">
              <button class="sellerbtn btn" type="submit">Upload</button>
            </div>
          </form>
          
    </div>
</div>

<%- include("partials/footer.ejs") %>