<%- include("partials/header.ejs") %>
    <!-- hero section -->
    <div class="hero">
        <video autoplay loop muted id="background-video">
            <source src="/img/4517768-hd_1920_1080_30fps.mp4" height="200px" type="video/mp4">
        </video>
        <div class="gradient-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h1><b>Rebel</b> <br> with Style</h1>
                </div>
                <div class="search-section mt-5">
                    <form action="/search" method="POST">
                        <input type="search" name="search" id="search" class="search-input" placeholder="search">
                        <button> <i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <div class="tab-container align-items-center container">
        <div class="tab-header justify-content-center flex-fill">
            <button class="tab-button active" onclick="openTab(event, 'tab1')">Trending</button>
            <button class="tab-button" onclick="openTab(event, 'tab2')">Latest</button>
        </div>
        <div id="tab1" class="tab-content active">
            <% if(chunkedTClothes){ %>
                <div class="row mt-5 d-none d-md-flex">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                            <% chunkedTClothes.forEach((productChunk, index)=> { %>

                                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                    <div class="row">
                                        <% productChunk.forEach(product=> { %>
                                            <div class="col-md-3 mb-2">
                                                <div class="image-container">
                                                    <img class="img-fluid" src="<%= product.files[0] %>"
                                                        alt="">
                                                    <div class="image-overlay">
                                                        <div class="image-details">
                                                            <p class="row">
                                                                <b class="price col-4">
                                                                    <%= product.clothprice %>
                                                                </b>
                                                                <b class="cloth-name col-6">
                                                                   <a href="/cdetails/<%= product._id %>" class="text-light"> <%= product.clothname %></a>
                                                                </b>
                                                                <a href="/sellerprofile/<%= product.sellerId %>" class="seller col-12">
                                                                    <%= product.seller %>
                                                                </a>
                                                            </p>
                                                            <p class="category">
                                                                <%= product.clothcategory %>
                                                            </p>
                                                            <p class="qttb">
                                                                <b class="quantity">qty: <input type="number" value="1"
                                                                        name="" id="qty"></b>
                                                                <a class="add"
                                                                    onclick="addToCart('<%= product._id %>', '<%= product.clothname %>', '<%= product.clothprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                    <i class="fas fa-shopping-cart"></i>
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>

                                <% }) %>
                        </div>
                    </div>
                </div>
                <% } %>
                    <% if(chunkedTShoes){ %>
                        <div class="row mt-5 d-none d-md-flex">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">

                                    <% chunkedTShoes.forEach((productChunk, index)=> { %>

                                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                            <div class="row">
                                                <% productChunk.forEach(product=> { %>
                                                    <div class="col-md-3 mb-2">
                                                        <div class="image-container">
                                                            <img class="img-fluid"
                                                                src="<%= product.files[0] %>" alt="">
                                                            <div class="image-overlay">
                                                                <div class="image-details">
                                                                    <p class="row">
                                                                        <b class="price col-4">
                                                                            <%= product.shoeprice %>
                                                                        </b>
                                                                        <b class="cloth-name col-6">
                                                                            <a href="/sdetails/<%= product._id %>" class="text-light"> <%= product.shoename %></a>
                                                                        </b>
                                                                        <a href="/sellerprofile/<%= product.sellerId %>" class="seller col-12">
                                                                            <%= product.seller %>
                                                                        </a>
                                                                    </p>
                                                                    <p class="category">
                                                                        <%= product.shoecategory %>
                                                                    </p>
                                                                    <p class="qttb">
                                                                        <b class="quantity">qty: <input type="number"
                                                                                value="1" name="" id="qty"></b>
                                                                        <a class="add"
                                                                            onclick="addToCart('<%= product._id %>', '<%= product.shoename %>', '<%= product.shoeprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                            <i class="fas fa-shopping-cart"></i>
                                                                        </a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                            </div>
                                        </div>

                                        <% }) %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% if(chunkedTAccessories){ %>
                                <div class="row mt-5 d-none d-md-flex">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">

                                            <% chunkedTAccessories.forEach((productChunk, index)=> { %>

                                                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                    <div class="row">
                                                        <% productChunk.forEach(product=> { %>
                                                            <div class="col-md-3 mb-2">
                                                                <div class="image-container">
                                                                    <img class="img-fluid"
                                                                        src="<%= product.files[0] %>" alt="">
                                                                    <div class="image-overlay">
                                                                        <div class="image-details">
                                                                            <p class="row">
                                                                                <b class="price col-4">
                                                                                    <%= product.accessoryprice %>
                                                                                </b>
                                                                                <b class="cloth-name col-6">
                                                                                    <a href="/adetails/<%= product._id %>" class="text-light"> <%= product.accessoryname %></a>
                                                                                </b>
                                                                                <a href="/sellerprofile/<%= product.sellerId %>" class="seller col-12">
                                                                                    <%= product.seller %>
                                                                                </a>
                                                                            </p>
                                                                            <p class="category">
                                                                                <%= product.accessorycategory %>
                                                                            </p>
                                                                            <p class="qttb">
                                                                                <b class="quantity">qty: <input
                                                                                        type="number" value="1" name=""
                                                                                        id="qty"></b>
                                                                                <a class="add"
                                                                                    onclick="addToCart('<%= product._id %>', '<%= product.accessoryname %>', '<%= product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                    <i class="fas fa-shopping-cart"></i>
                                                                                </a>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                    </div>
                                                </div>

                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>


                                    <!-- small screen -->
                                    <% if(smallTClothes){ %>
                                        <div class="row mt-3 d-flex d-md-none">
                                            <div id="carouselExampleIndicators" class="carousel slide"
                                                data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    <% smallTClothes.forEach((productChunk, index)=> { %>
                                                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                            <div class="row">
                                                                <% productChunk.forEach(product=> { %>
                                                                    <div class="col-6">
                                                                        <div class="image-container">
                                                                            <img src="<%= product.files[0] %>"
                                                                                class="img-fluid" alt="...">
                                                                            <div class="image-overlay carousel-caption">
                                                                                <div class=" image-details">
                                                                                    <p>
                                                                                        <b class="price">
                                                                                            <%= product.clothprice %>
                                                                                        </b>
                                                                                        <a href="/sellerprofile/<%= product.sellerId %>" class="seller">
                                                                                            <%= product.seller %>
                                                                                        </a>
                                                                                    </p>
                                                                                    <b class="cloth-name">
                                                                                        <a href="/cdetails/<%= product._id %>" class="text-light"> <%= product.clothname %></a>
                                                                                    </b>
                                                                                    <p class="category">
                                                                                        <%= product.clothcategory %>
                                                                                    </p>
                                                                                    <p class="qttb">
                                                                                        <b class="quantity">qty:<br><input
                                                                                                type="number" value="1"
                                                                                                name="" id="qty"></b>
                                                                                        <a class="add"
                                                                                            onclick="addToCart('<%= product._id %>', '<%= product.clothname %>', '<%= product.clothprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                            <i
                                                                                                class="fas fa-shopping-cart"></i>
                                                                                        </a>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% }) %>

                                                            </div>
                                                        </div>

                                                        <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% if(smallTShoes){ %>
                                                <div class="row mt-3 d-flex d-md-none">
                                                    <div id="carouselExampleIndicators" class="carousel slide"
                                                        data-bs-ride="carousel">
                                                        <div class="carousel-inner">
                                                            <% smallTShoes.forEach((productChunk, index)=> { %>
                                                                <div
                                                                    class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                                    <div class="row">
                                                                        <% productChunk.forEach(product=> { %>
                                                                            <div class="col-6">
                                                                                <div class="image-container">
                                                                                    <img src="<%= product.files[0] %>"
                                                                                        class="img-fluid" alt="...">
                                                                                    <div
                                                                                        class="image-overlay carousel-caption">
                                                                                        <div class=" image-details">
                                                                                            <p>
                                                                                                <b class="price">
                                                                                                    <%= product.shoeprice
                                                                                                        %>
                                                                                                </b>
                                                                                                <a href="/sellerprofile/<%= product.sellerId %>"
                                                                                                    class="seller">
                                                                                                    <%= product.seller
                                                                                                        %>
                                                                                                </a>
                                                                                            </p>
                                                                                            <b class="cloth-name">
                                                                                                <a href="/sdetails/<%= product._id %>" class="text-light"> <%= product.shoename %></a>
                                                                                            </b>
                                                                                            <p class="category">
                                                                                                <%= product.shoecategory
                                                                                                    %>
                                                                                            </p>
                                                                                            <p class="qttb">
                                                                                                <b class="quantity">qty:<br><input
                                                                                                        type="number"
                                                                                                        value="1"
                                                                                                        name=""
                                                                                                        id="qty"></b>
                                                                                                <a class="add"
                                                                                                    onclick="addToCart('<%= product._id %>', '<%= product.shoename %>', '<%= product.shoeprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                                    <i
                                                                                                        class="fas fa-shopping-cart"></i>
                                                                                                </a>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% }) %>

                                                                    </div>
                                                                </div>

                                                                <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% if(smallTAccessories){ %>
                                                        <div class="row mt-3 d-flex d-md-none">
                                                            <div id="carouselExampleIndicators" class="carousel slide"
                                                                data-bs-ride="carousel">
                                                                <div class="carousel-inner">
                                                                    <% smallTAccessories.forEach((productChunk, index)=>
                                                                        { %>
                                                                        <div
                                                                            class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                                            <div class="row">
                                                                                <% productChunk.forEach(product=> { %>
                                                                                    <div class="col-6">
                                                                                        <div class="image-container">
                                                                                            <img src="<%= product.files[0] %>"
                                                                                                class="img-fluid"
                                                                                                alt="...">
                                                                                            <div
                                                                                                class="image-overlay carousel-caption">
                                                                                                <div
                                                                                                    class=" image-details">
                                                                                                    <p>
                                                                                                        <b
                                                                                                            class="price">
                                                                                                            <%= product.accessoryprice
                                                                                                                %>
                                                                                                        </b>
                                                                                                        <a href="/sellerprofile/<%= product.sellerId %>"
                                                                                                            class="seller">
                                                                                                            <%= product.seller
                                                                                                                %>
                                                                                                        </a>
                                                                                                    </p>
                                                                                                    <b
                                                                                                        class="cloth-name">
                                                                                                        <a href="/adetails/<%= product._id %>" class="text-light"> <%= product.accessoryname %></a>
                                                                                                    </b>
                                                                                                    <p class="category">
                                                                                                        <%= product.accessorycategory
                                                                                                            %>
                                                                                                    </p>
                                                                                                    <p class="qttb">
                                                                                                        <b
                                                                                                            class="quantity">qty:<br><input
                                                                                                                type="number"
                                                                                                                value="1"
                                                                                                                name=""
                                                                                                                id="qty"></b>
                                                                                                        <a class="add"
                                                                                                            onclick="addToCart('<%= product._id %>', '<%= product.accessoryname %>', '<%= product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                                            <i
                                                                                                                class="fas fa-shopping-cart"></i>
                                                                                                        </a>
                                                                                                    </p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <% }) %>

                                                                            </div>
                                                                        </div>

                                                                        <% }) %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>


                                                            <!-- end -->
        </div>
        <div id="tab2" class="tab-content">
            <% if(chunkedLClothes){ %>
                <div class="row mt-5 d-none d-md-flex">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                            <% chunkedLClothes.forEach((productChunk, index)=> { %>

                                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                    <div class="row">
                                        <% productChunk.forEach(product=> { %>
                                            <div class="col-md-3 mb-2">
                                                <div class="image-container">
                                                    <img class="img-fluid" src="<%= product.files[0] %>"
                                                        alt="">
                                                    <div class="image-overlay">
                                                        <div class="image-details">
                                                            <p class="row">
                                                                <b class="price col-4">
                                                                    <%= product.clothprice %>
                                                                </b>
                                                                <b class="cloth-name col-6">
                                                                    <a href="/cdetails/<%= product._id %>" class="text-light"> <%= product.clothname %></a>
                                                                </b>
                                                                <a href="/sellerprofile/<%= product.sellerId %>" class="seller col-12">
                                                                    <%= product.seller %>
                                                                </a>
                                                            </p>
                                                            <p class="category">
                                                                <%= product.clothcategory %>
                                                            </p>
                                                            <p class="qttb">
                                                                <b class="quantity">qty: <input type="number" value="1"
                                                                        name="" id="qty"></b>
                                                                <a class="add"
                                                                    onclick="addToCart('<%= product._id %>', '<%= product.clothname %>', '<%= product.clothprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                    <i class="fas fa-shopping-cart"></i>
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>

                                <% }) %>
                        </div>
                    </div>
                </div>
                <% } %>
                    <% if(chunkedLShoes){ %>
                        <div class="row mt-5 d-none d-md-flex">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">

                                    <% chunkedLShoes.forEach((productChunk, index)=> { %>

                                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                            <div class="row">
                                                <% productChunk.forEach(product=> { %>
                                                    <div class="col-md-3 mb-2">
                                                        <div class="image-container">
                                                            <img class="img-fluid"
                                                                src="<%= product.files[0] %>" alt="">
                                                            <div class="image-overlay">
                                                                <div class="image-details">
                                                                    <p class="row">
                                                                        <b class="price col-4">
                                                                            <%= product.shoeprice %>
                                                                        </b>
                                                                        <b class="cloth-name col-6">
                                                                            <a href="/sdetails/<%= product._id %>" class="text-light"> <%= product.shoename %></a>
                                                                        </b>
                                                                        <a href="/sellerprofile/<%= product.sellerId %>" class="seller col-12">
                                                                            <%= product.seller %>
                                                                        </a>
                                                                    </p>
                                                                    <p class="category">
                                                                        <%= product.shoecategory %>
                                                                    </p>
                                                                    <p class="qttb">
                                                                        <b class="quantity">qty: <input type="number"
                                                                                value="1" name="" id="qty"></b>
                                                                        <a class="add"
                                                                            onclick="addToCart('<%= product._id %>', '<%= product.shoename %>', '<%= product.shoeprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                            <i class="fas fa-shopping-cart"></i>
                                                                        </a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                            </div>
                                        </div>

                                        <% }) %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% if(chunkedLAccessories){ %>
                                <div class="row mt-5 d-none d-md-flex">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">

                                            <% chunkedLAccessories.forEach((productChunk, index)=> { %>

                                                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                    <div class="row">
                                                        <% productChunk.forEach(product=> { %>
                                                            <div class="col-md-3 mb-2">
                                                                <div class="image-container">
                                                                    <img class="img-fluid"
                                                                        src="<%= product.files[0] %>" alt="">
                                                                    <div class="image-overlay">
                                                                        <div class="image-details">
                                                                            <p class="row">
                                                                                <b class="price col-4">
                                                                                    <%= product.accessoryprice %>
                                                                                </b>
                                                                                <b class="cloth-name col-6">
                                                                                    <a href="/adetails/<%= product._id %>" class="text-light"> <%= product.accessoryname %></a>
                                                                                </b>
                                                                                <a href="/sellerprofile/<%= product.sellerId %>" class="seller col-12">
                                                                                    <%= product.seller %>
                                                                                </a>
                                                                            </p>
                                                                            <p class="category">
                                                                                <%= product.accessorycategory %>
                                                                            </p>
                                                                            <p class="qttb">
                                                                                <b class="quantity">qty: <input
                                                                                        type="number" value="1" name=""
                                                                                        id="qty"></b>
                                                                                <a class="add"
                                                                                    onclick="addToCart('<%= product._id %>', '<%= product.accessoryname %>', '<%= product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                    <i class="fas fa-shopping-cart"></i>
                                                                                </a>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                    </div>
                                                </div>

                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>


                                    <!-- small screen -->
                                    <% if(smallLClothes){ %>
                                        <div class="row mt-3 d-flex d-md-none">
                                            <div id="carouselExampleIndicators" class="carousel slide"
                                                data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    <% smallLClothes.forEach((productChunk, index)=> { %>
                                                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                            <div class="row">
                                                                <% productChunk.forEach(product=> { %>
                                                                    <div class="col-6">
                                                                        <div class="image-container">
                                                                            <img src="<%= product.files[0] %>"
                                                                                class="img-fluid" alt="...">
                                                                            <div class="image-overlay carousel-caption">
                                                                                <div class=" image-details">
                                                                                    <p>
                                                                                        <b class="price">
                                                                                            <%= product.clothprice %>
                                                                                        </b>
                                                                                        <a href="/sellerprofile/<%= product.sellerId %>" class="seller">
                                                                                            <%= product.seller %>
                                                                                        </a>
                                                                                    </p>
                                                                                    <b class="cloth-name">
                                                                                        <a href="/cdetails/<%= product._id %>" class="text-light"> <%= product.clothname %></a>
                                                                                    </b>
                                                                                    <p class="category">
                                                                                        <%= product.clothcategory %>
                                                                                    </p>
                                                                                    <p class="qttb">
                                                                                        <b class="quantity">qty:<br><input
                                                                                                type="number" value="1"
                                                                                                name="" id="qty"></b>
                                                                                        <a class="add"
                                                                                            onclick="addToCart('<%= product._id %>', '<%= product.clothname %>', '<%= product.clothprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                            <i
                                                                                                class="fas fa-shopping-cart"></i>
                                                                                        </a>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% }) %>

                                                            </div>
                                                        </div>

                                                        <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% if(smallLShoes){ %>
                                                <div class="row mt-3 d-flex d-md-none">
                                                    <div id="carouselExampleIndicators" class="carousel slide"
                                                        data-bs-ride="carousel">
                                                        <div class="carousel-inner">
                                                            <% smallLShoes.forEach((productChunk, index)=> { %>
                                                                <div
                                                                    class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                                    <div class="row">
                                                                        <% productChunk.forEach(product=> { %>
                                                                            <div class="col-6">
                                                                                <div class="image-container">
                                                                                    <img src="<%= product.files[0] %>"
                                                                                        class="img-fluid" alt="...">
                                                                                    <div
                                                                                        class="image-overlay carousel-caption">
                                                                                        <div class=" image-details">
                                                                                            <p>
                                                                                                <b class="price">
                                                                                                    <%= product.shoeprice
                                                                                                        %>
                                                                                                </b>
                                                                                                <a href="/sellerprofile/<%= product.sellerId %>"
                                                                                                    class="seller">
                                                                                                    <%= product.seller
                                                                                                        %>
                                                                                                </a>
                                                                                            </p>
                                                                                            <b class="cloth-name">
                                                                                                <a href="/sdetails/<%= product._id %>" class="text-light"> <%= product.shoename %></a>
                                                                                            </b>
                                                                                            <p class="category">
                                                                                                <%= product.shoecategory
                                                                                                    %>
                                                                                            </p>
                                                                                            <p class="qttb">
                                                                                                <b class="quantity">qty:<br><input
                                                                                                        type="number"
                                                                                                        value="1"
                                                                                                        name=""
                                                                                                        id="qty"></b>
                                                                                                <a class="add"
                                                                                                    onclick="addToCart('<%= product._id %>', '<%= product.shoename %>', '<%= product.shoeprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                                    <i
                                                                                                        class="fas fa-shopping-cart"></i>
                                                                                                </a>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% }) %>

                                                                    </div>
                                                                </div>

                                                                <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% if(smallLAccessories){ %>
                                                        <div class="row mt-3 d-flex d-md-none">
                                                            <div id="carouselExampleIndicators" class="carousel slide"
                                                                data-bs-ride="carousel">
                                                                <div class="carousel-inner">
                                                                    <% smallLAccessories.forEach((productChunk, index)=>
                                                                        { %>
                                                                        <div
                                                                            class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                                            <div class="row">
                                                                                <% productChunk.forEach(product=> { %>
                                                                                    <div class="col-6">
                                                                                        <div class="image-container">
                                                                                            <img src="<%= product.files[0] %>"
                                                                                                class="img-fluid"
                                                                                                alt="...">
                                                                                            <div
                                                                                                class="image-overlay carousel-caption">
                                                                                                <div
                                                                                                    class=" image-details">
                                                                                                    <p>
                                                                                                        <b
                                                                                                            class="price">
                                                                                                            <%= product.accessoryprice
                                                                                                                %>
                                                                                                        </b>
                                                                                                        <a href="/sellerprofile/<%= product.sellerId %>"
                                                                                                            class="seller">
                                                                                                            <%= product.seller
                                                                                                                %>
                                                                                                        </a>
                                                                                                    </p>
                                                                                                    <b
                                                                                                        class="cloth-name">
                                                                                                        <a href="/adetails/<%= product._id %>" class="text-light"> <%= product.accessoryname %></a>
                                                                                                    </b>
                                                                                                    <p class="category">
                                                                                                        <%= product.accessorycategory
                                                                                                            %>
                                                                                                    </p>
                                                                                                    <p class="qttb">
                                                                                                        <b
                                                                                                            class="quantity">qty:<br><input
                                                                                                                type="number"
                                                                                                                value="1"
                                                                                                                name=""
                                                                                                                id="qty"></b>
                                                                                                        <a class="add"
                                                                                                            onclick="addToCart('<%= product._id %>', '<%= product.accessoryname %>', '<%= product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                                            <i
                                                                                                                class="fas fa-shopping-cart"></i>
                                                                                                        </a>
                                                                                                    </p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <% }) %>

                                                                            </div>
                                                                        </div>

                                                                        <% }) %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>


                                                            <!-- end -->
        </div>

    </div>


    <%- include("partials/footer.ejs") %>