<%- include("partials/header.ejs") %>



    <section class="hero collections-hero">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Search</li>
                </ol>
            </nav>
            <h1>Explore Our Collections</h1>
            <p>Discover the latest fashion trends and styles</p>
            <button class="btn btn-outline-white">Shop Now</button>
            <div class="search-section mt-5" >
                <form action="/search" method="POST">
                    <input type="search" name="search" id="search" class="search-input" placeholder="search">
                    <button> <i class="fas fa-search"></i></button>
                </form>
            </div> 
        </div>
    </section>

        
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h4>Search Results</h4>
            </div>
        </div>
        <% if(searched.length > 0){ %>
            <div class="row mt-5 d-none d-md-flex">
              <% searched.forEach((product) => { %>
                <div class="col-md-3 mb-2">
                  <div class="image-container">
                    <img class="img-fluid" src="<%= product.files[0] %>" alt="">
                    <div class="image-overlay">
                      <div class="image-details">
                        <p class="row">
                          <b class="price col-4"><s>N</s><%= product.clothprice || product.shoeprice || product.accessoryprice %></b>
                          <b class="cloth-name col-6">
                            <a href="
                                <% if(product.clothname){ %>
                                    /cdetails/<%= product._id %>
                                <% } else if(product.shoename){ %>                                
                                    /sdetails/<%= product._id %>
                                <% } else if(product.accessoryname){ %>                                
                                    /adetails/<%= product._id %>
                                <% } %>
                            " class="text-light"> 
                              <%= product.clothname || product.shoename || product.accessoryname %>
                            </a>
                          </b>
                          <a href="/sellerprofile/<%= product.sellerId %>" class="seller col-12"><%= product.seller %></a>
                        </p>
                        <p class="category"><%= product.clothcategory || product.shoecategory || product.accessorycategory %></p>
                        <p class="qttb">
                          <b class="quantity">qty: <input type="number" value="1" name="" id="qty-<%= product._id %>"></b>
                          <a class="add" onclick="addToCart('<%= product._id %>', '<%= product.clothname || product.shoename || product.accessoryname %>', '<%= product.clothprice || product.shoeprice || product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>', '<%= product.sellerId %>')">
                            <i class="fas fa-shopping-cart"></i>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
        <% }else{ %>
            <div class="row mt-5 d-none d-md-flex">
                <p>no product in this category</p>
            </div>
        <% } %>

        <!-- small screen -->
        <% if(smallSearched){ %>
          <div class="row mt-3 d-flex d-md-none">
              <% smallSearched.forEach((productChunk, index)=> { %>
                  <div class="container">
                      <div class="row">
                          <% productChunk.forEach(product=> { %>
                              <div class="col-6">
                                  <div class="image-container">
                                      <a href="
                                      <% if(product.clothname){ %>
                                          /cdetails/<%= product._id %>
                                      <% } else if(product.shoename){ %>                                
                                          /sdetails/<%= product._id %>
                                      <% } else if(product.accessoryname){ %>                                
                                          /adetails/<%= product._id %>
                                      <% } %>
                                      ">
                                          <img src="<%= product.files[0] %>"
                                          class="img-fluid" alt="...">
                                      </a>
                                      <div class="image-overlay carousel-caption">
                                          <div class=" image-details">
                                              <p>
                                                  <b class="price"><s>N</s>
                                                      <%= product.clothprice || product.shoeprice || product.accessoryprice %>
                                                  </b>
                                                  <a href="/sellerprofile/<%= product.sellerId %>" class="seller">
                                                      <%= product.seller %>
                                                  </a>
                                              </p>
                                              <b class="cloth-name">
                                                  <a href="
                                                      <% if(product.clothname){ %>
                                                          /cdetails/<%= product._id %>
                                                      <% } else if(product.shoename){ %>                                
                                                          /sdetails/<%= product._id %>
                                                      <% } else if(product.accessoryname){ %>                                
                                                          /adetails/<%= product._id %>
                                                      <% } %>
                                                  " class="text-light"> 
                                                  <%= (product.clothname || product.shoename || product.accessoryname).length > 7 
                                                  ? (product.clothname || product.shoename || product.accessoryname).slice(0, 13) + '...' 
                                                  : (product.clothname || product.shoename || product.accessoryname) %>
                                                  </a>
                                              </b>
                                              <p class="category">
                                                  <%= product.clothcategory || product.shoecategory || product.accessorycategory %>
                                              </p>
                                              <p class="qttb">
                                                  <b class="quantity">qty:<br><input
                                                          type="number" value="1"
                                                          name="" id="qty2-<%= product._id %>"></b>
                                                  <a class="add" onclick="addToCart2('<%= product._id %>', '<%= product.clothname || product.shoename || product.accessoryname %>', '<%= product.clothprice || product.shoeprice || product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>', '<%= product.sellerId %>')">
                                                      <i
                                                          class="fas fa-shopping-cart"></i>
                                                  </a>
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          <% }) %>
                      </div>
                  </div>
              <% }) %>
          </div>
      <% } %>

        
        <!-- end -->
    </div> 

<%- include("partials/footer.ejs") %>
