<%- include("partials/header.ejs") %>

    <!-- end of navbar -->

    <section class="hero trending-hero">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Trending</li>
                </ol>
            </nav>
            <h1>Discover the Hottest Trends of the Season</h1>
            <p>Curated Styles That Define Today's Fashion Scene</p>
            <button class="btn btn-outline-white">Shop the Trends</button>
            <div class="search-section mt-5">
                <input type="search" name="search" id="search" class="search-input" placeholder="search">
                <button> <i class="fas fa-search"></i></button>
            </div>
        </div>
    </section>

    <div class="tab-container align-items-center">
        <div class="tab-header justify-content-center flex-fill">
            <button class="tab-button active" onclick="openTab(event, 'tab1')">Clothes</button>
            <button class="tab-button" onclick="openTab(event, 'tab2')">Footwears</button>
            <button class="tab-button" onclick="openTab(event, 'tab3')">Accessories</button>
        </div>


        <div id="tab1" class="tab-content active">
            <% if(Clothes){ %>
                <div class="row mt-5 d-none d-md-flex">
                    <% Clothes.forEach((product, index)=> { %>
                        <div class="col-md-3 mb-2">
                            <div class="image-container">
                                <img class="img-fluid" src="<%= product.files[0] %>" alt="">
                                <div class="image-overlay">
                                    <div class="image-details">
                                        <p class="row">
                                            <b class="price col-4">
                                                <%= product.clothprice %>
                                            </b>
                                            <b class="cloth-name col-6">
                                                <%= product.clothname %>
                                            </b>
                                            <a href="" class="seller col-2">
                                                <%= product.seller %>
                                            </a>
                                        </p>
                                        <p class="category">
                                            <%= product.clothcategory %>
                                        </p>
                                        <p class="qttb">
                                            <b class="quantity">qty: <input type="number" value="1" name=""
                                                    id="qty"></b>
                                            <a class="add"
                                                onclick="addToCart('<%= product._id %>', '<%= product.clothname %>', '<%= product.clothprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                <i class="fas fa-cart-shopping"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                </div>
                <% }else{ %>
                    <div class="row mt-5 d-none d-md-flex">
                        <p>no product in this category</p>
                    </div>
                    <% } %>

                        <!-- small screen -->
                        <% if(smallTClothes){ %>
                            <div class="row mt-3 d-flex d-md-none">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% smallTClothes.forEach((productChunk, index)=> { %>
                                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                <div class="row">
                                                    <% productChunk.forEach(product=> { %>
                                                        <div class="col-6">
                                                            <div class="image-container">
                                                                <img src="<%= product.files[0] %>"
                                                                    class="img-fluid" alt="...">
                                                                <div class="image-overlay carousel-caption">
                                                                    <div class=" image-details">
                                                                        <p>
                                                                            <b class="price">
                                                                                <%= product.clothprice %>
                                                                            </b>
                                                                            <a href="" class="seller">
                                                                                <%= product.seller %>
                                                                            </a>
                                                                        </p>
                                                                        <b class="cloth-name">
                                                                            <%= product.clothname %>
                                                                        </b>
                                                                        <p class="category">
                                                                            <%= product.clothcategory %>
                                                                        </p>
                                                                        <p class="qttb">
                                                                            <b class="quantity">qty:<br><input
                                                                                    type="number" value="1" name=""
                                                                                    id="qty"></b>
                                                                            <a class="add"
                                                                                onclick="addToCart('<%= product._id %>', '<%= product.clothname %>', '<%= product.clothprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                <i class="fas fa-cart-shopping"></i>
                                                                            </a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>

                                                </div>
                                            </div>

                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                            <% }else{ %>
                                <div class="row mt-3 d-flex d-md-none">
                                    <p>no product available</p>
                                </div>
                                <% } %>


                                    <!-- end -->
        </div>


        <div id="tab2" class="tab-content">
            <% if(Shoes){ %>
                <div class="row mt-5 d-none d-md-flex">
                    <% Shoes.forEach((product, index)=> { %>
                        <div class="col-md-3 mb-2">
                            <div class="image-container">
                                <img class="img-fluid" src="<%= product.files[0] %>" alt="">
                                <div class="image-overlay">
                                    <div class="image-details">
                                        <p class="row">
                                            <b class="price col-4">
                                                <%= product.shoeprice %>
                                            </b>
                                            <b class="cloth-name col-6">
                                                <%= product.shoename %>
                                            </b>
                                            <a href="" class="seller col-2">
                                                <%= product.seller %>
                                            </a>
                                        </p>
                                        <p class="category">
                                            <%= product.shoecategory %>
                                        </p>
                                        <p class="qttb">
                                            <b class="quantity">qty: <input type="number" value="1" name=""
                                                    id="qty"></b>
                                            <a class="add"
                                                onclick="addToCart('<%= product._id %>', '<%= product.shoename %>', '<%= product.shoeprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                <i class="fas fa-cart-shopping"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                </div>
                <% }else{ %>
                    <div class="row mt-5 d-none d-md-flex">
                        <p>no product in this category</p>
                    </div>
                    <% } %>

                        <!-- small screen -->
                        <% if(smallTShoes){ %>
                            <div class="row mt-3 d-flex d-md-none">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% smallTShoes.forEach((productChunk, index)=> { %>
                                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                <div class="row">
                                                    <% productChunk.forEach(product=> { %>
                                                        <div class="col-6">
                                                            <div class="image-container">
                                                                <img src="<%= product.files[0] %>"
                                                                    class="img-fluid" alt="...">
                                                                <div class="image-overlay carousel-caption">
                                                                    <div class=" image-details">
                                                                        <p>
                                                                            <b class="price">
                                                                                <%= product.shoeprice %>
                                                                            </b>
                                                                            <a href="" class="seller">
                                                                                <%= product.seller %>
                                                                            </a>
                                                                        </p>
                                                                        <b class="cloth-name">
                                                                            <%= product.shoename %>
                                                                        </b>
                                                                        <p class="category">
                                                                            <%= product.shoecategory %>
                                                                        </p>
                                                                        <p class="qttb">
                                                                            <b class="quantity">qty:<br><input
                                                                                    type="number" value="1" name=""
                                                                                    id="qty"></b>
                                                                            <a class="add"
                                                                                onclick="addToCart('<%= product._id %>', '<%= product.shoename %>', '<%= product.shoeprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                <i class="fas fa-cart-shopping"></i>
                                                                            </a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>

                                                </div>
                                            </div>

                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                            <% }else{ %>
                                <div class="row mt-3 d-flex d-md-none">
                                    <p>no product available</p>
                                </div>
                                <% } %>


                                    <!-- end -->
        </div>


        <div id="tab3" class="tab-content">
            <% if(Accessories){ %>
                <div class="row mt-5 d-none d-md-flex">
                    <% Accessories.forEach((product, index)=> { %>
                        <div class="col-md-3 mb-2">
                            <div class="image-container">
                                <img class="img-fluid" src="<%= product.files[0] %>" alt="">
                                <div class="image-overlay">
                                    <div class="image-details">
                                        <p class="row">
                                            <b class="price col-4">
                                                <%= product.accessoryprice %>
                                            </b>
                                            <b class="cloth-name col-6">
                                                <%= product.accessoryname %>
                                            </b>
                                            <a href="" class="seller col-2">
                                                <%= product.seller %>
                                            </a>
                                        </p>
                                        <p class="category">
                                            <%= product.accessorycategory %>
                                        </p>
                                        <p class="qttb">
                                            <b class="quantity">qty: <input type="number" value="1" name=""
                                                    id="qty"></b>
                                            <a class="add"
                                                onclick="addToCart('<%= product._id %>', '<%= product.accessoryname %>', '<%= product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                <i class="fas fa-cart-shopping"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                </div>
                <% }else{ %>
                    <div class="row mt-5 d-none d-md-flex">
                        <p>no product in this category</p>
                    </div>
                    <% } %>

                        <!-- small screen -->
                        <% if(smallTAccessories){ %>
                            <div class="row mt-3 d-flex d-md-none">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <% smallTAccessories.forEach((productChunk, index)=> { %>
                                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                <div class="row">
                                                    <% productChunk.forEach(product=> { %>
                                                        <div class="col-6">
                                                            <div class="image-container">
                                                                <img src="<%= product.files[0] %>"
                                                                    class="img-fluid" alt="...">
                                                                <div class="image-overlay carousel-caption">
                                                                    <div class=" image-details">
                                                                        <p>
                                                                            <b class="price">
                                                                                <%= product.accessoryprice %>
                                                                            </b>
                                                                            <a href="" class="seller">
                                                                                <%= product.seller %>
                                                                            </a>
                                                                        </p>
                                                                        <b class="cloth-name">
                                                                            <%= product.accessoryname %>
                                                                        </b>
                                                                        <p class="category">
                                                                            <%= product.accessorycategory %>
                                                                        </p>
                                                                        <p class="qttb">
                                                                            <b class="quantity">qty:<br><input
                                                                                    type="number" value="1" name=""
                                                                                    id="qty"></b>
                                                                            <a class="add"
                                                                                onclick="addToCart('<%= product._id %>', '<%= product.accessoryname %>', '<%= product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>')">
                                                                                <i class="fas fa-cart-shopping"></i>
                                                                            </a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>

                                                </div>
                                            </div>

                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                            <% }else{ %>
                                <div class="row mt-3 d-flex d-md-none">
                                    <p>no product available</p>
                                </div>
                                <% } %>


                                    <!-- end -->
        </div>




    </div>


    <%- include("partials/footer.ejs") %>