<%- include("partials/header.ejs") %>

    <!-- end of navbar -->

    <section class="hero trending-hero">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Trending</li>
                </ol>
            </nav>
            <h1>Discover the Hottest Trends of the Season</h1>
            <p>Curated Styles That Define Today's Fashion Scene</p>
            <button class="btn btn-outline-white">Shop the Trends</button>
            <div class="search-section mt-5">
                <form action="/search" method="POST">
                    <input type="search" name="search" id="search" class="search-input" placeholder="search">
                    <button> <i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>

    <div class="tab-container align-items-center">
        <div class="tab-header justify-content-center flex-fill">
            <a href="trendingclothes"><button class="tab-button">Clothes</button></a>
            <a href="trendingshoe"><button class="tab-button">Footwears</button></a>
            <a href="trendingaccessories"><button class="tab-button active">Accessories</button></a>
        </div>
        
        <div id="tab3" class="tab-content active">
            <% if(Accessories){ %>
                <div class="row mt-5 d-none d-md-flex">
                    <% Accessories.forEach((product, index)=> { %>
                        <div class="col-md-3 mb-2">
                            <div class="image-container">
                                <a href="/adetails/<%= product._id %>">
                                    <img src="<%= product.files[0] %>"
                                        class="img-fluid" alt="...">
                                </a>
                                <div class="image-overlay">
                                    <div class="image-details container">
                                        <p class="row">
                                            <b class="price col-4"><s>N</s>
                                                <%= product.accessoryprice %>
                                            </b>
                                            <b class="cloth-name col-8">
                                                <a href="/adetails/<%= product._id %>" class="text-light"> <%= product.accessoryname %></a>
                                            </b>
                                            <a href="/sellerprofile/<%= product.sellerId %>" class="seller col-12">
                                                <%= product.seller %>
                                            </a>
                                        </p>
                                        <p class="category">
                                            <%= product.accessorycategory %>
                                        </p>
                                        <p class="qttb">
                                            <b class="quantity">qty: <input type="number" value="1" name=""
                                                    id="qty-<%= product._id %>"></b>
                                            <a class="add"
                                                onclick="addToCart('<%= product._id %>', '<%= product.accessoryname %>', '<%= product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>', '<%= product.sellerId %>')">
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                </div>
            <% }else{ %>
                <div class="row mt-5 d-none d-md-flex">
                    <p>no product in this category</p>
                </div>
            <% } %>

            <!-- small screen -->
            <% if(smallTAccessories){ %>
                <div class="row mt-3 d-flex d-md-none">
                    <% smallTAccessories.forEach((productChunk, index)=> { %>
                        <div class="container">
                            <div class="row">
                                <% productChunk.forEach(product=> { %>
                                    <div class="col-6">
                                        <div class="image-container">
                                            <a href="/adetails/<%= product._id %>">
                                                <img src="<%= product.files[0] %>"
                                                    class="img-fluid" alt="...">
                                            </a>
                                            <div class="image-overlay carousel-caption">
                                                <div class=" image-details">
                                                    <p>
                                                        <b class="price"><s>N</s><%= product.accessoryprice %></b>
                                                        <a href="/sellerprofile/<%= product.sellerId %>" class="seller"><%= product.seller %></a>
                                                    </p>
                                                    <b class="cloth-name">
                                                    <a href="/adetails/<%= product._id %>" class="text-light"> 
                                                        <%= (product.accessoryname).length > 7 
                                                        ? (product.accessoryname).slice(0, 13) + '...' 
                                                        : (product.accessoryname) %>
                                                    </a></b>
                                                    <p class="category"><%= product.accessorycategory %></p>
                                                    <p class="qttb">
                                                        <b class="quantity">qty:<br><input type="number" value="1" name="" id="qty-<%= product._id %>"></b>
                                                        <a class="add" onclick="addToCart('<%= product._id %>', '<%= product.accessoryname %>', '<%= product.accessoryprice %>', '<%= product.files[0] %>', '<%= product.seller %>', '<%= product.sellerId %>')">
                                                            <i class="fas fa-shopping-cart"></i>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>

                    <% }) %>
                </div>
            <% }else{ %>
                <div class="row mt-3 d-flex d-md-none">
                    <p>no product available</p>
                </div>
            <% } %>


            <!-- end -->
            <!-- Pagination Links -->
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <a href="?page=<%= currentPage - 1 %>">Previous</a>
                <% } %>

                <% for (let i = startPage; i <= endPage; i++) { %>
                    <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                        <%= i %>
                    </a>
                <% } %>

                <% if (currentPage < totalPages) { %>
                    <a href="?page=<%= currentPage + 1 %>">Next</a>
                <% } %>
            </ul>
        </div>




    </div>


    <%- include("partials/footer.ejs") %>